<!DOCTYPE html>
<html lang="en">
</head>
<body>
    <div class="tamagotchi-container">
        <div class="tamagotchi-antenna"></div>
        <div class="tamagotchi-antenna-ball"></div>

        <div class="tamagotchi-screen">
            {% block content %}

            {% endblock %}
        </div>

        <div class="tamagotchi-buttons">
            <div class="tamagotchi-button" onclick="alert('A button pressed!')"></div>
            <div class="tamagotchi-button" onclick="alert('B button pressed!')"></div>
            <div class="tamagotchi-button" onclick="alert('C button pressed!')"></div>
        </div>


    </div>
</body>
</html>